@tailwind base;
@tailwind components;
@tailwind utilities;

.under-nav {
  @apply py-20;
}

.svg-icon-fill {
  @apply fill-current transition-colors text-white hover:text-red-400;
}

.elegant-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.elegant-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.elegant-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  opacity: 0.5;
}
